#navbarTogglerDemo{
  margin-left: 10px;
  font-size: 18px;
}
#formMenu{
  margin-left: 15px;
}
#formClients{
  margin-top: 20px;
  margin-left: 20px;
}
#nameClient{
  width: 1000px;
}
#emailClient{
  width: 1000px;
}
#clients{
  margin: 50 auto;
  background-color:#f8f9fa;;
  border-radius: 10px;
  padding: 10px;
  width: 1050px;
}
#thead{
  background: #9a9a9c57;
}
#table{
  margin-top: 20px;
}

