<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item  active">
        <a class="nav-link " routerLink="/client" id="formMenu">Clientes</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" routerLink="/product" id="formMenu">Produtos</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" routerLink="/sale" id="formMenu">Vendas</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div id="formSales">
      <p class="h2 mb-2">Cadastrar Vendas</p>
      <div class="form-group">
          <input type="text" name="nameSale"  [(ngModel)]="sale.client" class="form-control" id="clientSale" placeholder="Digite o cliente">
      </div>
      <div class="form-group">
          <input type="text" name="priceSale" [(ngModel)]="sale.product" class="form-control" id="productSale" placeholder="Digite o produto">
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
  </div>
</div>


<div class="container" id="table">
  <div class="panel panel-default">

    <div class="panel-body">

        <form class="form-inline">
        </form>

    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered" >
        <thead id="thead">
          <tr>
            <th>id</th>
            <th>Cliente</th>
            <th>Email</th>
            <th>Produto</th>
            <th>Valor</th>
            <th>Atulizar</th>
            <th>Remover</th>
          </tr>
        </thead>
          <tr *ngFor="let sale of sales" id="sales">
            <td>{{sale.id}}</td>
            <td>{{sale.client}}</td>
            <td>{{sale.email}}</td>
            <td>{{sale.product}}</td>
            <td>{{sale.price}}</td>
            <td><button  class='btn btn-primary' (click)="update(sale.id)">Atualizar</button></td>
            <td><button  class='btn btn-danger'  (click)="remove(sale.id)">Remover</button></td>
         </tr>
      </table>
    </div>
  </div>
</div>


